<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>timed</key>
		<false/>
		<key>graph_type</key>
		<integer>0</integer>
		<key>num_colors</key>
		<integer>1</integer>
		<key>name</key>
		<string>LEVEL SELECT</string>
		<key>is_mirror</key>
		<false/>
		<key>nodes</key>
		<array>
			<dict>
				<key>uid</key>
				<integer>0</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>1</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>2</integer>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>3</integer>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>3</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>3</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>4</integer>
				<key>x</key>
				<integer>9</integer>
				<key>y</key>
				<integer>-3</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>timed</key>
		<false/>
		<key>graph_type</key>
		<integer>0</integer>
		<key>num_colors</key>
		<integer>1</integer>
		<key>name</key>
		<string>Welcome</string>
		<key>is_mirror</key>
		<false/>
		<key>nodes</key>
		<array>
			<dict>
				<key>uid</key>
				<integer>1</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>timed</key>
		<false/>
		<key>graph_type</key>
		<integer>0</integer>
		<key>num_colors</key>
		<integer>2</integer>
		<key>name</key>
		<string>Practice</string>
		<key>is_mirror</key>
		<false/>
		<key>nodes</key>
		<array>
			<dict>
				<key>uid</key>
				<integer>1</integer>
				<key>x</key>
				<integer>-2</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>2</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<integer>0</integer>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>timed</key>
		<false/>
		<key>graph_type</key>
		<integer>0</integer>
		<key>num_colors</key>
		<integer>3</integer>
		<key>name</key>
		<string>Triangle</string>
		<key>is_mirror</key>
		<false/>
		<key>nodes</key>
		<array>
			<dict>
				<key>uid</key>
				<integer>1</integer>
				<key>x</key>
				<integer>-2</integer>
				<key>y</key>
				<real>-1.5</real>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>2</integer>
				<key>x</key>
				<integer>2</integer>
				<key>y</key>
				<real>-1.5</real>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array/>
			</dict>
			<dict>
				<key>uid</key>
				<integer>3</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<real>1.5</real>
				<key>z</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>timed</key>
		<false/>
		<key>graph_type</key>
		<integer>0</integer>
		<key>num_colors</key>
		<integer>2</integer>
		<key>name</key>
		<string>base</string>
		<key>is_mirror</key>
		<false/>
		<key>nodes</key>
		<array>
			<dict>
				<key>uid</key>
				<integer>1</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>-3</integer>
				<key>z</key>
				<integer>0</integer>
				<key>mirror</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>2</integer>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>2</integer>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>3</integer>
				<key>z</key>
				<integer>0</integer>
				<key>mirror</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>3</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>3</integer>
				<key>x</key>
				<integer>-3</integer>
				<key>y</key>
				<integer>3</integer>
				<key>z</key>
				<integer>0</integer>
				<key>mirror</key>
				<integer>0</integer>
				<key>edges</key>
				<array>
					<integer>4</integer>
				</array>
			</dict>
			<dict>
				<key>uid</key>
				<integer>4</integer>
				<key>x</key>
				<integer>-3</integer>
				<key>y</key>
				<integer>-3</integer>
				<key>z</key>
				<integer>0</integer>
				<key>mirror</key>
				<integer>0</integer>
				<key>edges</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
