<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Aleph</string>
		<key>colors</key>
		<array>
			<string>#00ffff</string>
			<string>#ff00ff</string>
		</array>
		<key>level_path</key>
		<string>layer1</string>
		<key>image_anim</key>
		<string>aleph.gif</string>
		<key>image_idle</key>
		<string>aleph_idle.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CHIBA</string>
		<key>colors</key>
		<array>
			<string>#ff7f00</string>
			<string>#00ff00</string>
		</array>
		<key>level_path</key>
		<string>layer2</string>
		<key>image_anim</key>
		<string>aleph.gif</string>
		<key>image_idle</key>
		<string>aleph_idle.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PRIM</string>
		<key>colors</key>
		<array>
			<string>#7f007f</string>
			<string>#ffff00</string>
		</array>
		<key>level_path</key>
		<string>layer1</string>
		<key>image_anim</key>
		<string>aleph.gif</string>
		<key>image_idle</key>
		<string>aleph_idle.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NINSEI</string>
		<key>colors</key>
		<array>
			<string>#0000ff</string>
			<string>#ff0000</string>
		</array>
		<key>level_path</key>
		<string>layer1</string>
		<key>image_anim</key>
		<string>aleph.gif</string>
		<key>image_idle</key>
		<string>aleph_idle.gif</string>
	</dict>
	<dict>
		<key>name</key>
		<string>KUANG</string>
		<key>colors</key>
		<array>
			<string>#e5e5e5</string>
			<string>#1c1c1c</string>
		</array>
		<key>level_path</key>
		<string>layer1</string>
		<key>image_anim</key>
		<string>aleph.gif</string>
		<key>image_idle</key>
		<string>aleph_idle.gif</string>
	</dict>
</array>
</plist>
